@page
@model Tortillapp_web.Pages.Recipe.CreateModel
@{
    ViewData["Title"] = "Nueva receta";
}

<div class="container bg-white">
    <div class="row mt-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <!--using (Html.BeginForm("","User",FormMethod.Get))
                {}-->
                <div class="container" id="UserSection" runat="server">
                    <div class="mb-3">
                        <h1 class="text-start">Crear receta</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-start">@TempData.Peek("rname")</h2>
                            
                        <img />Imagen usuario
                            
                    </div>
                </div>
                <!--using (Html.BeginForm("GetTitleRecipe", "", FormMethod.Post))
                {}-->
                <form method="post" name="NewRecipe">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ruser" type="hidden" />
                    <div class="container" id="TitleSection" runat="server">
                        <div class="row align-content-start">
                            <div class="col-sm mb-3">
                                <label class="form-label">Título de la receta</label>
                                <input asp-for="rtitle" type="text" id="title" class="form-control" placeholder="Nombre receta" required>
                                <label for="merror" class="form-label">@Model.merror</label>
                            </div>
                        </div>
                        <!--<div class="row text-center align-items-center justify-content-center">
                            <div class="mb-3">
                                <input type="submit" name="btnContinue" value="Siguiente" class="btn btn_base w-50 rounded-pill" onclick="titleDisplay()" />
                            </div>
                        </div>
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="mb-3">
                                <input type="submit" name="btnCancel" value="Cancelar" class="btn btn_contra w-50 rounded-pill" asp-page-handler="BackToIndex" />
                            </div>
                        </div>-->
                    </div>
                <div class="container" id="PortionSection" runat="server">
                    <!--<div class="mb-3">
                        <h1 class="text-start">Model.rtitle</h1>
                    </div>-->
                    <div class="row justify-content-start">
                        <div class="col-md mb-3 justify-content-center">
                            <h3 class="text-start fw-bold">Ingredientes</h3>
                        </div>
                        <div class="col-sm mb-3">
                            <table>
                                <tr>
                                    <th><button type="button" id="btnPlusP" class="btn_invisible" onclick="incrementer()"><i class="bi bi-plus icons-special"></i></button></th>
                                    <th><input asp-for="rportion" type="text" class="form-control" id="portion" value="0" readonly></th>
                                    <th><button type="button" id="btnMinusP" class="btn_invisible" onclick="decrementer()"><i class="bi bi-dash icons-special"></i></button></th>
                                    <th><label class="icons-main"><i class="bi bi-people-fill icons-main"></i> Porc.</label></th>
                                </tr>
                            </table>
                        </div>
                    </div>      
                </div>

                <div class="container" id="IngredientsSection" runat="server">
                    <div class="buttons">
                        <div class="container">
                            <div class="row align-content-start">
                                <div class="col mb-3 col-quanxi">
                                    <label class="form-label">Cantidad</label>
                                    <table>
                                        <tr>
                                            <td><button type="button" class="btn_invisible botona" onclick="increment(this,0)"><i class="bi bi-plus icons-special"></i></button></td>
                                            <td><input asp-for="Ingredient[0].IngredientAmount" type="text" value="0" class="form-control input-quanxi quantity "></td>
                                            <td><button type="button" class="btn_invisible botonb" onclick="decrement(this,0)"><i class="bi bi-dash icons-special"></i></button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col mb-3 col-unit">
                                    <label class="form-label">Unidad</label>
                                    <select asp-for="Ingredient[0].IngredientUnit" class="form-select input-unit" asp-items="Model.Itype"></select>
                                </div>
                                <div class="col mb-3 col-des">
                                    <label class="form-label">Descripción ingrediente</label>
                                    <input asp-for="Ingredient[0].IngredientName" type="text" class="form-control input-des" placeholder="Nombre ingrediente" />
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-content-start">
                                <div class="col mb-3 col-quanxi">
                                    <label class="form-label">Cantidad</label>
                                    <table>
                                        <tr>
                                            <td><button type="button" class="btn_invisible botona" onclick="increment(this,0)"><i class="bi bi-plus icons-special"></i></button></td>
                                            <td><input asp-for="Ingredient[1].IngredientAmount" type="text" value="0" class="form-control input-quanxi quantity "></td>
                                            <td><button type="button" class="btn_invisible botonb" onclick="decrement(this,0)"><i class="bi bi-dash icons-special"></i></button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col mb-3 col-unit">
                                    <label class="form-label">Unidad</label>
                                    <select asp-for="Ingredient[1].IngredientUnit" class="form-select input-unit" asp-items="Model.Itype"></select>
                                </div>
                                <div class="col mb-3 col-des">
                                    <label class="form-label">Descripción ingrediente</label>
                                    <input asp-for="Ingredient[1].IngredientName" type="text" class="form-control input-des" placeholder="Nombre ingrediente" />
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-content-start">
                                <div class="col mb-3 col-quanxi">
                                    <label class="form-label">Cantidad</label>
                                    <table>
                                        <tr>
                                            <td><button type="button" class="btn_invisible botona" onclick="increment(this,0)"><i class="bi bi-plus icons-special"></i></button></td>
                                            <td><input asp-for="Ingredient[2].IngredientAmount" type="text" value="0" class="form-control input-quanxi quantity "></td>
                                            <td><button type="button" class="btn_invisible botonb" onclick="decrement(this,0)"><i class="bi bi-dash icons-special"></i></button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col mb-3 col-unit">
                                    <label class="form-label">Unidad</label>
                                    <select asp-for="Ingredient[2].IngredientUnit" class="form-select input-unit" asp-items="Model.Itype"></select>
                                </div>
                                <div class="col mb-3 col-des">
                                    <label class="form-label">Descripción ingrediente</label>
                                    <input asp-for="Ingredient[2].IngredientName" type="text" class="form-control input-des" placeholder="Nombre ingrediente" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center align-items-center justify-content-center">
                        <div class="mb-3">
                            <button type="button" class="btn btn_blanco rounded-pill" id="add" onclick="adder(this)" data-number="3">
                                <i class="bi bi-plus icons-special" style="font-size:20px; font-weight:bolder;"></i>
                            </button>
                        </div>
                        <div class="mb-3">
                            <label class="form-label icons-special">Agregar otro ingrediente</label>
                        </div>
                    </div>
                </div>

                <div class="container" id="PreparationSection" runat="server">
                    <div class="row align-content-start">
                        <div class="col-md mb-3">
                            <h3 class="text-start fw-bold">Preparación</h3>
                        </div>
                        <div class="col-sm mb-3">
                            <table>
                                <tr>
                                    <th><input asp-for="rtime" type="text" class="form-control" id="timepicker" value="00:00" /></th> <!--Time picker-->
                                    <th><i class="bi bi-clock icons-main"></i></th>
                                    <th><label class="icons-main"> Mins.</label></th>
                                </tr>
                            </table>
                            <script>
                                $('#timepicker').clockTimePicker();
                            </script>
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <textarea asp-for="rprep" class ="form-control" rows="10" placeholder="Pasos para preparar la receta..."></textarea>
                        </div>
                    </div>

                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <h3 class="text-start fw-bold">Tips</h3>
                        </div>
                        <div class="row align-content-start">
                            <div class="col-sm mb-3">
                                <textarea asp-for="rtips" class="form-control" rows="4" placeholder="Algún consejo, técnica o para la presentación"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container" id="TagsSection" runat="server">
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <h3 class="text-start fw-bold">Tags</h3>
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col mb-3">
                            <table>
                                <tr>
                                    <th><input asp-for="Tags" type="text" class="form-control" placeholder="etiqueta"></th>
                                    <th><button type="button" class="btn btn_contra rounded-pill">Agregar</button></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container" id="labelSelect">
                        <label></label>
                    </div>
                </div>

                <div class="container" id="SubmitSection" runat="server">
                    <div class="row text-center align-items-center justify-content-center">
                        <div class="mb-3 div_base">
                            <img id="imgSelect" src="/pics/@Model.picto" class="btn_base rounded-photo w-50 text-center" />
                                <div class="div_interno text-white">Subir una foto <i class="bi bi-camera"></i></div>
                            <br />
                            <input asp-for="image" type="file" accept="image/*" class="form-control btn_base recipe_btn w-50" onchange="displaySelectedImage(event, 'imgSelect')" />
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn_blanco w-50 rounded-pill" id="preview">Vista Previa<br /><i class="bi bi-eye icons-special"></i></button>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn_base w-50 rounded-pill" value="Publicar" />
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="btnDraft" class="btn btn_contra w-50 rounded-pill" value="Guardar borrador" asp-page-handler="SaveDraft" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

