@page
@model Tortillapp_web.Pages.Receta.NewRecipeModel
@{
	ViewData["Title"] = "Nueva receta";
}

<div class="bg-white">
    <div class="container">
        <div class="row mt-3">
            <form method="post">
                <div class="row justify-content-center">
                    <div class="col-md-10">

                        <div class="container" name="part1">
                            <div class="mb-3">
                                <h1 class="text-center">Crear receta</h1>
                            </div>
                            <div class="mb-3">
                                <h2 class="text-start">#user</h2>
                                <img />Imagen usuario
                            </div>
                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <label class="form-label">Título de la receta</label>
                                    <input asp-for="rtitle" type="text" class="form-control" placeholder="Nombre receta">
                                    <label for="merror" class="form-label">@Model.merror</label>
                                </div>
                            </div>
                            <div class="row text-center align-items-center justify-content-center">
                                <div class="mb-3">
                                    <input type="submit" name="btnContinue" value="Siguiente" class="btn btn_base w-50 rounded-pill" asp-page-handler="CreateRecipe" />
                                    <!--<input type="radio" id="rdBtn" onclick="if(document.getElementById('rdBtn').checked===true){document.getElementById('texto').style.display ='';}else{document.getElementById('texto').style.display = 'none';}"/>
                                    <input type="text" id="texto" style="display:none"/>-->
                                </div>
                            </div>
                            <div class="row text-center align-items-center justify-content-center">
                                <div class="mb-3">
                                    <input type="submit" name="btnCancel" value="Cancelar" class="btn btn_contra w-50 rounded-pill" asp-page-handler="BackToIndex" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="container" id="part2">
                            <div class="mb-3">
                                <h1 class="text-start">#Título de la receta</h1>
                            </div>
                            <div class="row justify-content-start">
                                <div class="col-md mb-3 justify-content-center">
                                    <h3 class="text-start fw-bold">Ingredientes</h3>
                                </div>
                                <div class="col-sm mb-3">
                                    <table>
                                        <tr>
                                            <th><i class="bi bi-plus"></i></th>
                                            <th><input asp-for="rportion" type="number" class="form-control"></th>
                                            <th><i class="bi bi-dash"></i></th>
                                            <th><label><i class="bi bi-people"></i>Porc.</label></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container" id="part3">
                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <label class="form-label">Cantidad</label>
                                    <table>
                                        <tr>
                                            <th><i class="bi bi-plus"></i></th>
                                            <th><input asp-for="Ingredient.IngredientAmount" type="number" class="form-control"></th>
                                            <th><i class="bi bi-dash"></i></th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm mb-3">
                                    <label class="form-label">Unidad</label>
                                    <select asp-for="Ingredient.IngredientUnit" class="form-select" asp-items="Model.Itype"></select>
                                </div>
                            </div>
                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <label class="form-label">Descripción ingrediente</label>
                                    <input asp-for="Ingredient.IngredientName" type="text" class="form-control" placeholder="Nombre ingrediente" />
                                </div>
                            </div>
                            <div class="row text-center align-items-center justify-content-center">
                                <div class="mb-3">
                                    <button type="button" class="btn btn_avance rounded-pill"><i class="bi bi-plus"></i></button>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Agregar otro ingrediente</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container" id="part4">
                            <div class="row align-content-start">
                                <div class="col-md mb-3">
                                    <h3 class="text-start fw-bold">Preparación</h3>
                                </div>
                                <div class="col-sm mb-3">
                                    <table>
                                        <tr>
                                            <th><input asp-for="rtime" type="time"></th>
                                            <th><i class="bi bi-clock"></i></th>
                                            <th><label>Mins.</label></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <textarea asp-for="rprep" class ="form-control" rows="10" placeholder="Pasos para preparar la receta..."></textarea>
                                </div>
                            </div>

                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <h3 class="text-start fw-bold">Tips</h3>
                                </div>
                                <div class="row align-content-start">
                                    <div class="col-sm mb-3">
                                        <textarea asp-for="rtips" class="form-control" rows="4" placeholder="Algún consejo, técnica o para la presentación"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-content-start">
                                <div class="col-sm mb-3">
                                    <h3 class="text-start fw-bold">Tags</h3>
                                </div>
                            </div>
                            <div class="row align-content-start">
                                <div class="col mb-3">
                                    <table>
                                        <tr>
                                            <th><input asp-for="Tags" type="text" class="form-control" placeholder="#etiqueta"></th>
                                            <th><button type="button" class="btn btn_contra rounded-pill">Agregar</button></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="table">
                                #etiquetas1
                            </div>
                        </div>

                        <div class="container" id="part5">
                            <div class="row text-center align-items-center justify-content-center">
                                <div class="mb-3">
                                    <button type="button" class="btn btn_base w-50 vh-50 rounded-pill" id="upload">Subir una foto<br /><i class="bi bi-camera"></i></button>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn_blanco w-50 rounded-pill" id="preview">Vista Previa<br /><i class="bi bi-eye"></i></button>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn_base w-50 rounded-pill" id="public">Publicar</button>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn_contra w-50 rounded-pill" id="public">Guardar borrador</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

