@page
@model Tortillapp_web.Pages.Recipe.RecipeModel
@{
    ViewData["Title"] = "Receta";
}

<div class="bg-white">
    <div class="container">
        <div class="row mt-3">
            <form method="post">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="container" id="PictureSection">
                            <img /> <!--Imagen receta-->
                            <!--Icono Me gusta-->
                            <div class="row">
                                <div class="col-md mb-3">
                                    <h1 class="text-start">#Titulo</h1>
                                </div>
                                <div class="col-sm mb-3">
                                    <h6 class="text-start">Html.DisplayFor(model => model.UserData.ShowName)</h6>
                                    <img />Imagen usuario
                                </div>
                            </div>
                            
                            <div class="row mb-3 text-center align-items-center justify-content-center">
                                <div class="col-sm div_verde">
                                    #Rating
                                </div>
                                <div class="col-sm div_aqua">
                                    #h #m Preparación
                                </div>
                                <div class="col-sm div_azul">
                                    # Porciones
                                </div>
                            </div>
                        </div>

                        <div class="container" id="DataSection">
                            <div class="row">
                                <h4 class="text-start">Ingredientes</h4>
                                <ul>
                                    <li>#Ingrediente</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="row">
                                <h4 class="text-start">Preparación</h4>

                            </div>
                            <hr />
                            <div class="row">
                                <h4 class="text-start">Tips</h4>

                            </div>
                            <hr />
                            <div class="row">
                                #Etiquetas
                            </div>
                            <hr />
                        </div>
                    
                        <div class="container" id="CommentSection">
                            <div class="row text-center align-items-center justify-content-center">
                                <div class="mb-3">
                                    <h3 class="text-center">¿Te gusto? ¿Qué tan taqueable es?</h3>
                                </div>
                                <div class="mb-3">
                                    5 tortillas
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" rows="4" placeholder="Algún consejo, técnica o para la presentación"></textarea>
                                </div>
                                <div class="mb-3">
                                    <input type="submit" value="Calificar" class="btn btn_contra w-50 rounded-pill" id="upload" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

