@model IndexModel

@foreach (var item in Model.RecipeInfo)
{
    <div class="block_v container">
        <div class="row">
            <div class="img-fluid">
                @if (item.RecipePic == null)
                {
                    <img src="~/pics/tortilla-basic-cuadro.jpg" class="recipe_pic" />
                }
                else
                {
                    <img src="@Html.DisplayFor(modelItem => item.RecipePic)" class="recipe_pic" />
                }
                
            </div>
        </div>
        <div class="row">
            <div class="row">
                <a asp-page="View" asp-route-id="@item?.RecipeId">@Html.DisplayFor(modelItem => item.RecipeTitle)</a>
            </div>
            <div class="row">
                #rating
            </div>
            <div class="row">
                <div class="container">
                    @if (item.RecipeTags == null || item.RecipeTags.Count == 0)
                    {
                        <label>No hay etiquetas</label>
                    }
                    else
                    {
                        //for (int i = 0; i < item.RecipeTags.Count; i++)
                        @foreach (var tag in item.RecipeTags)
                        {
                            <a class="mb-2 tag_base tag_deco button_deco">@Html.DisplayFor(modelItem => tag.Tag.TagName)</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

