@model IndexModel

@foreach (var tag in Model.Tags)
{
    <label>
        <a asp-page="TagFilter" class="mb-2 tag_base tag_deco button_deco" asp-route-id="@tag.TagId">@Html.DisplayFor(modelItem => tag.TagName)</a>
    </label>
}
