@page
@model Tortillapp_web.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="container bg-white">
    <div class="row mt-3">
        <div class="col-sm">
            <h1 class="text-center">Bienvenido</h1>
        </div>
        
		<div class="col-md">
			<form method="post" asp-page="Login">
				<h2 class="text-start">Inicia sesión</h2>
				<div class="row align-content-start">
					<div class="col-sm mb-3">
						<label asp-for="umail" class="form-label">Dirección de correo</label>
						<input asp-for="umail" type="email" class="form-control" id="umail" placeholder="correo@example.com" required>
					</div>
				</div>
				<div class="row align-content-start">
					<div class="col-sm mb-3">
						<label asp-for="upass" class="form-label">Contraseña</label>
						<input asp-for="upass" type="password" class="form-control" id="upass" placeholder="********" required>
					</div>
				</div>
				<label for="merror" class="form-label">@Model.merror</label>
				<div class="row no-gutters-right">
					<div class="col-sm form-check mb-3">
						<input asp-for="reme" type="checkbox" class="form-check-input" id="reme" value="1">
						<label asp-for="reme" class="form-check-label">Recuédarme</label>
					</div>
					<div class="col-sm mb-3">
						<label for="forget" class=""><a href="#">¿Olvidaste tu contraseña?</a></label><!--Agregar recuperación-->
					</div>
				</div>
				<div class="row text-center align-items-center justify-content-center">
					<div class="mb-3">
						<button type="submit" class="btn btn_base w-50 rounded-pill">Ingresar</button>
					</div>
					<div class="mb-3">
						<label for="newbie" class="form-label">¿No tienes cuenta? <a href="/Register">Crea una</a></label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

