@page
@model Tortillapp_web.Pages.Users.RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="bg-white">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">
                <h1 class="text-center">Se parte de la comunidad</h1>
                <div class="row h-75 aling-items-center justify-content-center">
                    <div class="col-auto">
                        <label for="backto" class="form-label">¿Ya eres parte? <a href="/Login">Inicia sesión</a></label>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <form method="post">
                    <h2 class="text-start">Crear un perfil</h2>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label asp-for="User.UserMail" class="form-label">Dirección de correo</label>
                            <input asp-for="User.UserMail" type="email" class="form-control" placeholder="correo@example.com">
                            <!--<span asp-validation-for="User.UserMail" class="text-danger"></span>-->
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label asp-for="User.UserName" class="form-label">Nombre de usuario</label>
                            <input asp-for="User.UserName" type="text" class="form-control" placeholder="usuario">
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label asp-for="User.UserPass" class="form-label">Contraseña</label>
                            <input asp-for="User.UserPass" type="password" class="form-control" placeholder="********">
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label asp-for="pass2" class="form-label">Confirma contraseña</label>
                            <input asp-for="pass2" type="password" class="form-control" placeholder="********">
                        </div>
                    </div>
                    <!--<input asp-for="Role.RoleId" asp-items=style="visibility:hidden;" value="3">-->
                    <!--<select asp-for="User.Role" asp-items=@(new SelectList(role., "RoleId", "RoleName"))></select>-->
                    <div class="row text-center align-items-center justify-content-center">
                        <button type="submit" class="btn btn_base w-50  rounded-pill">Enviar</button>
                    </div>
                </form>
        
            </div>
        </div>
    </div>
</div>


