@page
@model Tortillapp_web.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Cambia tu contraseña";
}


<div class="container bg-white div_fixedh div_base">
    <div class="div_interno div_interno_w">
        <form method="post">
            <div class="row mt-3">
                <div class="col-sm">
                    <h2 class="text-start">Cambia tu contraseña</h2>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <h3 class="text-start">Usuario: @Model.uname</h3>
                            <input asp-for="uid" hidden />
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label class="form-label">Nueva contraseña</label>
                            <input asp-for="npass" type="password" class="form-control" placeholder="********" minlength="8" maxlenght="16">
                            <label class="form-label">(de 8 a 16 caracteres)</label>
                        </div>
                    </div>
                    <div class="row align-content-start">
                        <div class="col-sm mb-3">
                            <label class="form-label">Confirmar contraseña</label>
                            <input asp-for="mpass" type="password" class="form-control" placeholder="********" minlength="8" maxlenght="16">
                            <label class="form-label">(de 8 a 16 caracteres)</label>
                        </div>
                    </div>
                    <label for="merror" class="form-label text-danger">@Model.merror</label>
                    <div class="mb-3">
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="col">
                                <input type="submit" name="btnCancel" value="Atrás" class="btn btn_contra w-75 rounded-pill" asp-page-handler="BackToIndex" />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn_base w-75 rounded-pill">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>